.app__skills {
  display: flex;
  width: 80%;
  margin-top: 3rem;
  margin-left: 8rem;
  @media screen and (max-width: 900px) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin-left: 0;
    width: 100%;
  }
}
.app__skills-icons_container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 5rem;

  .app__skills-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    .app__skills-icon_img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90px;
      height: 90px;
      text-align: center;
      background-color: black;
      border-radius: 50%;
      @media screen and (max-width: 450px) {
        width: 70px;
        height: 70px;
      }
      img {
        height: 50%;
        width: 50%;
      }
    }
    p {
      margin-top: 0.5rem;
      font-weight: 500;
    }
  }
  @media screen and (max-width: 900px) {
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
}
.app__skills-experiences_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  .app__skills-experience {
    display: flex;
    margin: 1rem 0;
    width: 100%;

    .app__skills-experience_year {
      margin-right: 4rem;
      color: var(--secondary-color);
      min-width: 41px;
    }
  }
  .app__skills-experience_content {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    .app__skills-experience-companies {
      display: flex;
      flex-direction: column;
      p {
        margin-top: 5px;
        font-weight: 400;
        color: var(--gray-color);
      }
    }
  }
}
